In [2]:
import pandas as pd
import numpy as np
import requests
import time
import pandas as pd
from sqlalchemy import create_engine


from config import weather_api_key

In [3]:
wine_file = "Resources/winemag-data-130k-v2.csv"
wine_df = pd.read_csv(wine_file)
wine_df

,id,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [4]:
cleaned_df = wine_df[["variety", "points", "price", "country", "province", "region_1"]]
cleaned_df = cleaned_df.dropna()
cleaned_df

,variety,points,price,country,province,region_1
2,Pinot Gris,87,14.0,US,Oregon,Willamette Valley
3,Riesling,87,13.0,US,Michigan,Lake Michigan Shore
4,Pinot Noir,87,65.0,US,Oregon,Willamette Valley
5,Tempranillo-Merlot,87,15.0,Spain,Northern Spain,Navarra
6,Frappato,87,16.0,Italy,Sicily & Sardinia,Vittoria
...,...,...,...,...,...,...
129965,Pinot Gris,90,28.0,France,Alsace,Alsace
129967,Pinot Noir,90,75.0,US,Oregon,Oregon
129968,Gewürztraminer,90,30.0,France,Alsace,Alsace
129969,Pinot Gris,90,32.0,France,Alsace,Alsace
129970,Gewürztraminer,90,21.0,France,Alsace,Alsace

In [5]:
province = cleaned_df[["country", "province", "region_1"]]
provinces_cleaned = province.drop_duplicates()
provinces_cleaned

       country            province                            region_1
2           US              Oregon                   Willamette Valley
3           US            Michigan                 Lake Michigan Shore
5        Spain      Northern Spain                             Navarra
6        Italy   Sicily & Sardinia                            Vittoria
7       France              Alsace                              Alsace
...        ...                 ...                                 ...
126567      US          California                    Sonoma-Napa-Lake
126987      US          California  Sonoma County-Santa Barbara County
129331   Italy  Northeastern Italy                          Del Veneto
129411   Italy              Veneto                 Bardolino Superiore
129760   Italy      Southern Italy                             Paestum

[1206 rows x 3 columns]

In [ ]:
# city_weather = []

# #variables for records
# record_num = 0
# Set = 1

# print("Beginning Data Retrieval")
# print("----------------------------")

# #loop through cities retreiving data for each city
# for index, row in provinces_cleaned.iterrows():
#     time.sleep(1)
    
#     #check to see if there is data for city
#     try:
#         i = row["region_1"]
#         query_url = (f"https://api.openweathermap.org/data/2.5/weather?q={i}&appid={weather_api_key}&units=imperial")
#         response = requests.get(query_url).json()

#         if record_num == 50:
#             Set += 1
#             record_num = 0
#         else:
#             record_num += 1 
            
#         #print record saying which city is being processed
#         print(f"Processing Record {record_num} of Set {Set} | {i}")
        
#         #get data for city 
#         region_lng = response['coord']['lon']
#         region_lat = response['coord']["lat"]
#         region_temp= response['main']['temp']
#         region_max_temp = response['main']['temp_max']
#         region_min_temp = response['main']['temp_min']
#         region_humid = response['main']['humidity']
#         region_country = response['sys']['country']
  

#         #Create dictionary with data gathered
#         city_weather.append({
#         "Region": i,
#         "Lat": region_lat,
#         "Lng": region_lng,
#         "Temp": region_temp,
#         "Max Temp": region_max_temp,
#         "Min Temp": region_min_temp,
#         "Humidity": region_humid
#         })

#     except:
#         print(f"region {i} not found... Sorry!")

#         try:
#             a = row["province"]
#             query_url = (f"https://api.openweathermap.org/data/2.5/weather?q={a}&appid={weather_api_key}&units=imperial")
#             response = requests.get(query_url).json()

#             #get data for city 
#             region_lng = response['coord']['lon']
#             region_lat = response['coord']["lat"]
#             region_temp= response['main']['temp']
#             region_max_temp = response['main']['temp_max']
#             region_min_temp = response['main']['temp_min']
#             region_humid = response['main']['humidity']
            


#             #Create dictionary with data gathered
#             city_weather.append({
#             "Region": i,
#             "Lat": region_lat,
#             "Lng": region_lng,
#             "Temp": region_temp,
#             "Max Temp": region_max_temp,
#             "Min Temp": region_min_temp,
#             "Humidity": region_humid
#             })
            

#         except:
#             print(f"province {a} not found... Sorry!")
            
#             try:
                
#                 b = row["country"]
#                 query_url = (f"https://api.openweathermap.org/data/2.5/weather?q={b}&appid={weather_api_key}&units=imperial")
#                 response = requests.get(query_url).json()

#                 #get data for city 
#                 region_lng = response['coord']['lon']
#                 region_lat = response['coord']["lat"]
#                 region_temp= response['main']['temp']
#                 region_max_temp = response['main']['temp_max']
#                 region_min_temp = response['main']['temp_min']
#                 region_humid = response['main']['humidity']
                

#                 #Create dictionary with data gathered
#                 city_weather.append({
#                 "Region": i,
#                 "Lat": region_lat,
#                 "Lng": region_lng,
#                 "Temp": region_temp,
#                 "Max Temp": region_max_temp,
#                 "Min Temp": region_min_temp,
#                 "Humidity": region_humid
#                 })
                

#             except:      
#                 print(f"country {b} not found... Sorry!")
#                 pass
#     12
# print("Complete!")

In [6]:
# weather = pd.DataFrame(city_weather)
# cleaned_weather = weather[["City", "Lat", "Lng", "Max Temp", "Min Temp", "Temp", "Humidity"]]
# cleaned_weather["diurnal range"] = cleaned_weather["Max Temp"] - cleaned_weather["Min Temp"]
# cleaned_weather = cleaned_weather.rename(columns={"City": "Region"})
# cleaned_weather.to_csv("./Resources/output.csv", index_label = "City ID")
# cleaned_weather

In [7]:
output = "Resources/output.csv"
cleaned_weather = pd.read_csv(output)

In [8]:
provinces_cleaned['region_id'] = provinces_cleaned.groupby(['country','province', 'region_1']).ngroup()
provinces_cleaned = provinces_cleaned[["region_id", "country", "province", "region_1"]]
provinces_cleaned

<ipython-input-8-281dc46b42e2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  provinces_cleaned['region_id'] = provinces_cleaned.groupby(['country','province', 'region_1']).ngroup()

,region_id,country,province,region_1
2,1176,US,Oregon,Willamette Valley
3,1134,US,Michigan,Lake Michigan Shore
5,919,Spain,Northern Spain,Navarra
6,692,Italy,Sicily & Sardinia,Vittoria
7,117,France,Alsace,Alsace
...,...,...,...,...
126567,1104,US,California,Sonoma-Napa-Lake
126987,1099,US,California,Sonoma County-Santa Barbara County
129331,582,Italy,Northeastern Italy,Del Veneto
129411,809,Italy,Veneto,Bardolino Superiore
129760,732,Italy,Southern Italy,Paestum

In [9]:
wine_data = pd.merge(provinces_cleaned, cleaned_df, on = "region_1")
clean_wine = wine_data[["region_id", "variety", "points", "price"]]
clean_wine

        region_id             variety  points  price
0            1176          Pinot Gris      87   14.0
1            1176          Pinot Noir      87   65.0
2            1176          Pinot Noir      86   22.0
3            1176          Pinot Noir      91   38.0
4            1176          Pinot Noir      85   28.0
...           ...                 ...     ...    ...
101408       1104  Cabernet Sauvignon      91   20.0
101409       1099          Chardonnay      86   14.0
101410        582             Corvina      86   11.0
101411        809           Red Blend      89   15.0
101412        732               Fiano      87   25.0

[101413 rows x 4 columns]

In [15]:
provinces_cleaned = provinces_cleaned.rename(columns={"region_1": "Region"})
cleaned = pd.merge(cleaned_weather, provinces_cleaned, on = "Region")
cleaned = cleaned[["region_id", "Lat", "Lng", "Max Temp", "Min Temp", "Temp", "Humidity", "diurnal range"]]
cleaned = cleaned.rename(columns={"Max Temp": "max_temp", "Min Temp": "min_temp", "diurnal range": "diurnal_range"}) 
cleaned

,region_id,Lat,Lng,max_temp,min_temp,Temp,Humidity,diurnal_range
0,1176,44.0001,-120.5014,60.03,55.22,55.24,39,4.81
1,1134,44.2503,-85.5003,71.67,68.50,71.49,83,3.17
2,919,42.7500,-1.6667,53.53,51.12,51.13,93,2.41
3,692,36.9537,14.5332,73.92,73.92,73.92,78,0.00
4,117,48.5000,7.5000,53.74,53.31,53.31,87,0.43
...,...,...,...,...,...,...,...,...
1205,1104,38.3004,-76.5074,73.08,62.42,68.72,73,10.66
1206,1099,38.3004,-76.5074,73.08,62.42,68.72,73,10.66
1207,582,32.1840,-96.8847,88.12,82.06,85.28,37,6.06
1208,809,45.5000,11.7500,61.02,58.75,60.91,83,2.27
1209,732,40.4238,15.0070,65.62,65.62,65.62,87,0.00